<html>

<head>
    <title>Acme Financial Corp</title>

</head>

<body>
    <h1>New Application</h1>
	
	<!-- Add a div to input book data -->
    <div id="newApp">
        <h2>Add a Book</h2>
        <input type="text" id="name" placeholder="Name">
        <input type="text" id="zipcode" placeholder="Zipcode">
        <button onclick="addBook()">Submit</button>
    </div>


	<!-- Display books in this div -->
    <div id="bookList">
    <!-- Book data will be displayed here dynamically -->
    </div>

    <button id="showBooksButton" onclick="showAllBooks()">Show All Books</button>	
    
	<!-- Display books in this div -->
    <div id="allbooks">
        <!-- Book data will be displayed here dynamically -->
    </div>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
